.container {
  max-width: 1440px;
  width: 95%;
  margin-inline: auto;
}

.flex-container {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.box-1 {
  background-color: lightblue;
  width: 50%;
  margin: 0;
}

.box-2 {
  background-color: lightyellow;
  width: 50%;
}

.box-25 {
  background-color: orange;
  height: 300px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.box-25 p {
  width: 50%;
}

.box-3 {
  background-color: lightyellow;
  width: 50%;
  height: 300px;
}

/* //________________________________________________ */

.grid-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 600px;
}

.box-one {
  grid-column: 1/1;
  grid-row: 1/3;
  background-color: lightblue;
}

.box-two {
  grid-column: 2/3;
  grid-row: 1/2;

  display: flex;
  align-items: center;

  background-color: orange;
}

.box-two p {
  flex-basis: 50%;
}

.box-three {
  grid-column: 2/3;
  grid-row: 2/3;

  background-color: lightyellow;
}

/* //________________________________________________ */

.item {
  min-height: 300px;
  outline: 3px solid limegreen;
}

.flex-container-item {
  display: flex;
  flex-wrap: wrap;
}

.item {
  flex: 1 1 33%;
  min-width: 300px;
}

.item-one {
  flex: 1 1 33%;
}

/* .item-three {
  flex-grow: 0;
} */
